<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="well">
  <div class="form-group">
   
    <%= form.text_field :title, id: :post_title, placeholder: "What is the title of your blog?", class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

  <div class="form-group">
    <%= form.text_area :blog_entry, id: :post_blog_entry, placeholder: "What do you have to say?", class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit 'Create Post', class: 'btn btn-primary' %>
  </div>
<% end %>
</div>