<p id="notice"><%= notice %></p>

<div class="container post">
  <center><h1>My Thoughts Out Loud</h1></center>

      <% @posts.each do |post| %>
     
        <div class="panel panel-default">
      
          <div class="panel panel-heading">
          <h2><%= post.title %></h2>
          <% if post.user.avatar.url != nil %>
            <p><%= image_tag post.user.avatar.url %></p>
          <% end %>  
          <p>Written by: <%= post.user.username %></p> 

          <p>Created on <%= post.created_at.strftime("%B %e, %Y at %l:%M %p")%></p> 

        </div>
        <div class="panel panel-body">
          <p><%= post.blog_entry %></p>
          <p><%= link_to 'Show', post, class: "btn btn-primary" %> |
           <%= link_to 'Edit', edit_post_path(post), class: "btn btn-warning" %> |
           <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></p>
        </div>
      </div>

      <% end %>
  <br>

  <%= link_to 'New Post', new_post_path, class: 'btn btn-primary' %>
</div>