<p id="notice"><%= notice %></p>

	<div class="container post" >
	<div class="panel panel-default">
	<div class="panel panel-heading">
	<h1>

	  <%= @post.title %>
	</h1>

	<h3>
	  
	  <p>Written By: <%= @post.user.username%></p>
	  <% if @post.user.avatar.url != nil %>
	  	<p><%= image_tag @post.user.avatar.url, class: 'post-pic' %></p>
	  <% end %>
	</h3>
		<p>Created on <%= @post.created_at.strftime("%B %e, %Y at %l:%M %p") %></p>
	</div>
	<div class="panel panel-body" >
	<p>
	 
	  <%= @post.blog_entry %>
	</p>

	<p><%= link_to 'Edit', edit_post_path(@post), class: "btn btn-warning" %></p>
	</div>
	<div class="panel panel-footer">
	<div id="comments">
		<%= render 'comments/form', comment: @comment %>

		<% @post.comments.each do |comment|  %>
		<div class="well">

			<h4>
				<% if comment.user.avatar.url != nil %>
				<%= image_tag comment.user.avatar.url, class: 'comment-pic' %>
			<% end %>	
				<%= comment.user.username %> said...</h4>
			
			<p><%= comment.comment_entry %></p>
			<h6>Created on <%= comment.created_at.strftime("%B %e, %Y at %l:%M %p") %></h6>

			<p><%= link_to "Edit Comment", edit_comment_path(id: comment.id), class: "btn btn-primary" %> | 
			<%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></p>
			
		</div>
		<% end %>	

	</div>
</div>
	</div>
	<p><%= link_to 'Back', posts_path, class: "btn btn-warning" %></p>
	</div>









